APP_USE_SSL=false
APP_DOMAIN=example.com
APP_DEVELOPER_EMAIL=email@example.com

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USERNAME=exammple@gmail.com
EMAIL_PASSWORD=123

GOOGLE_CLIENT_ID=123
GOOGLE_CLIENT_SECRET=123

YANDEX_CLIENT_ID=123
YANDEX_CLIENT_SECRET=123

RAWGIO_API_TOKEN=123abc

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672//
RABBITMQ_BACKEND_RESULT=rpc://
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

REDIS_HOST=redis
REDIS_PORT=6379

POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=cybertorrent
POSTGRES_HOST=postgres
POSTGRES_PORT=5432