aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
aiosmtplib==5.1.0
aiosqlite==0.22.1
alembic==1.18.4
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
bcrypt==5.0.0
beautifulsoup4==4.14.3
billiard==4.2.4
celery==5.6.3
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cryptography==46.0.6
deqr==0.2.4
dnspython==2.8.0
ecdsa==0.19.2
email-validator==2.3.0
fastapi==0.135.3
fastapi-csrf-protect==1.0.7
flower==2.0.1
frozenlist==1.8.0
googletrans==4.0.2
greenlet==3.3.2
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
humanize==4.15.0
hyperframe==6.1.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
kombu==5.6.2
libtorrent==2.0.11
Mako==1.3.10
MarkupSafe==3.0.3
multidict==6.7.1
multipart==1.3.1
numpy==2.4.3
opencv-python==4.13.0.92
packaging==26.0
pillow==12.1.1
PirateBayAPI==1.0.1
prometheus_client==0.25.0
prompt_toolkit==3.0.52
propcache==0.4.1
pyasn1==0.6.3
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
PyJWT==2.12.1
pyotp==2.9.0
pypng==0.20220715.0
PyQRCode==1.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-jose==3.5.0
python-multipart==0.0.22
python-slugify==8.0.4
pytz==2026.1.post1
pyzbar==0.1.9
qrcode==8.2
qrtools==0.0.2
redis==7.4.0
requests==2.33.1
rsa==4.2
six==1.17.0
soupsieve==2.8.3
sqladmin==0.24.0
SQLAlchemy==2.0.49
starlette==1.0.0
starlette-csrf==3.0.0
text-unidecode==1.3
tornado==6.5.5
torrent-scrapers==0.0.2
two-fast-auth==1.1.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
tzlocal==5.3.1
urllib3==2.6.3
uvicorn==0.43.0
vine==5.1.0
wcwidth==0.6.0
WTForms==3.1.2
yarl==1.23.0
