{% extends "base.html" %}

{% block content %}

<h1>
    Последние игры
</h1>


<!--<script>-->
<!--    // document.addEventListener("DOMContentLoaded", async () => {-->
<!--    //     try {-->
<!--    //         const response = await fetch(`/users/me`,-->
<!--    //             {method: "GET"}-->
<!--    //         );-->
<!--    //         const data = await response.json();-->
<!--    //-->
<!--    //         home.innerHTML = `-->
<!--    //             <img class="rounded-full mx-auto justify-center items-center w-24 h-24" src="/${data.avatar_image}"/>-->
<!--    //-->
<!--    //             <h3>EMAIL: ${data.email}</h3>-->
<!--    //-->
<!--    //         `;-->
<!--    //     } catch (error) {-->
<!--    //         home.innerHTML = "<p>Error loading content.</p>";-->
<!--    //     }-->
<!--    // });-->

<!--</script>-->

{% endblock %}