{% extends "base.html" %}

{% block title %}Login - CSRF Vulnerable App{% endblock %}

{% block header %}Register{% endblock %}

{% block content %}
<div style="max-width: 400px; margin: 0 auto;">
    {% if message %}
    <div class="message {{ message_class }}">{{ message }}</div>
    {% endif %}
    <form method="post" action="/auth/register" style="background-color: #f0f0f0; padding: 30px; border-radius: 10px;">
        <input type="hidden" name="token_key" value="{{ csrf_token }}">

        <label for="email">Email:</label>

        <input type="text" name="email" id="email" required>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>

        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}